S3method(Rsatsne,default)
export(Rsatsne)
export(cosineNorm)
export(normalize_input)
export(prepareSATSNE)
export(plotSATSNE)
export(highlightSATSNE)
export(plotAnnotatedSATSNE)
export(prepareSATSNEPlot)
export(runSATSNE)
import(Rcpp)
importFrom(BiocParallel,SerialParam)
importFrom(DelayedArray,DelayedArray)
importFrom(DelayedArray,getAutoBPPARAM)
importFrom(DelayedArray,setAutoBPPARAM)
importFrom(DelayedMatrixStats,rowVars)
importFrom(Matrix,colSums)
importFrom(Matrix,t)
importFrom(SingleCellExperiment,reducedDim)
importFrom(SummarizedExperiment,assay)
importFrom(methods,is)
importFrom(scuttle,normalizeCounts)
importFrom(stats,model.matrix)
importFrom(stats,na.fail)
importFrom(stats,prcomp)
importFrom(utils,head)
useDynLib(Rsatsne, .registration = TRUE)

